<div class="dashboard-page ">
    <style type="text/css">
        .inlineBlock {
            display: inline-block;
        }
    </style>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title inlineBlock" ng-if="!$stateParams.id">新增评语</h3>
            <h3 class="panel-title inlineBlock" ng-if="$stateParams.id">修改评语</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div form-input text="评语ID" ng-model="param.id" ng-show="$stateParams.id"
                             placeholder="评语ID" ng-disabled="$stateParams.id"></div>

                        <div form-input text="标注" ng-model="param.remark" placeholder="标注" required="true"></div>

                        <div form-rich-content text="评语" ng-model="param.content" required="true"></div>
                    </div>
                </div>
                <div form-error-block></div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <a class="btn btn-success btn-rounded pull-right" ng-disabled="FormBody.$invalid"
                           ng-click="submit()">提交</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>