[ms-controller], [ms-important] {
    display: none
}

html {
    background: #ebebeb;
}

body {
}

.list-wrapper {
}

.guide-section {
    padding: 0.6666666666666666rem 0.4rem;
}

.guide {
    /*border: 1px #ccc solid;
     */
    display: flex;
    font-size: 0.32rem;
    color: #272421;
}

.aha-icon {
    flex-basis: 1.7333333333333334rem;
    flex-shrink: 0;
}

.aha-left-triangle {
    flex-shrink: 0;
    position: relative;
    width: 0.13333333333333333rem;
}

.aha-left-triangle > span {
    margin-left: 0.07rem;
    position: absolute;
    top: 0.4666666666666667rem;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 0.2rem solid transparent;
    border-right: 0.2rem solid #fff;
    border-bottom: 0.2rem solid transparent;
}

.aha-desc {
    flex-shrink: 1;
    width: 100%;
    height: 1.4666666666666666rem;
    margin-left: 0.13333333333333333rem;
    border-radius: 0.10666666666666667rem;
    padding: 0rem 0.2rem;
    background: #fff;
    line-height: 0.5333333333333333rem;
    font-weight: bolder;
}

.aha-icon > img {
    width: 1.7333333333333334rem;
    height: 1.3333333333333333rem;
}

.aha-desc > .text {
    font-size: 0.32rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.aha-desc > .text:first-child {
    margin-top: 0.18666666666666668rem;
}

.guide-url {
    padding: 0 0.06666666666666667rem;
    font-size: 0.32rem;
    color: #4396f7;
    text-decoration: underline
}

.section {
    background-color: #fff;
    margin: 0 0.4rem 0.4rem;
    padding: 0;
    position: relative;
    border-radius: 0.10666666666666667rem;
}

.section-bottom {
    display: block;
    margin: auto;
    margin-top: 0.13333333333333333rem;
    padding-top: 0.13333333333333333rem;
    border-top: 0.013333333333333334rem dashed #d6d6d6;
    text-align: center;
}

.text-center {
    text-align: center;
}

.section {
    display: flex;
    color: #272421;
    height: 3.466666666666667rem;
    border-radius: 0.10666666666666667rem;
}

.section-left {
    flex-basis: 2.6666666666666665rem;
    flex-shrink: 0;
    height: 100%;
    background: #4396f7;
    color: #fff;
    font-size: 0.37333333333333335rem;
    border-top-left-radius: 0.10666666666666667rem;
    border-bottom-left-radius: 0.10666666666666667rem;
}

.section-center {
    flex-shrink: 0;
    width: 0;
    height: 3.466666666666667rem;
    position: relative;
}

.section-center > img {
    position: absolute;
    top: 0.18666666666666668rem;
    left: -0.12rem;
    height: 3.0933333333333333rem;
}

.section-right {
    width: 100%;
    height: 100%;
    flex-shrink: 1;
    font-size: 0.4rem;
    color: #272421;
    font-weight: bolder;
    position: relative;
}

.section-left-content {
    margin: 0.9866666666666667rem auto;
    text-align: center;
}

.section-left-top {
    font-size: 0.37333333333333335rem;
    margin-bottom: 0.4rem;
}

.section-left-bottom {
    font-size: 0.32rem;
}

.section-right-content {
    margin: 0.9866666666666667rem auto;
    text-align: center;
}

.section-right-content.code {
    margin: 1.5333333333333334rem auto;
}

.section-right-top {
    font-size: 0.4rem;
    margin-bottom: 0.4rem;
}

.section-right-bottom {
    font-size: 0.4rem;
}

.event-btn {
    display: inline-block;
    width: 1.4666666666666666rem;
    height: 0.5333333333333333rem;
    border-radius: 0.10666666666666667rem;
    line-height: 0.5333333333333333rem;
    background: #fff;
    color: #4396f7;
}

.copy {
    display: inline-block;
    position: absolute;
    right: 0.4rem;
    bottom: 0.4rem;
    font-size: 0.32rem;
    color: #4396f7;
}

.nodata {
    padding: 5rem 0;
    text-align: center;
    color: #999;
    display: none;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#copyVal {
    border: 0;
    width: 1px;
    height: 1px;
}

#copyBtn {

}