.field-box li {
    padding: 45px 0;
    line-height: 45px;
    height: 45px;
    border-bottom: 1px solid #ebebeb;
}

.field-box li p {
    position: relative;
    height: 45px;
    padding-left: 52px;
}

.field-box li i {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
}

.field-box .mobile i {
    background-image: url("/components/zhibo-verify/mobile-icon.png")
}

.field-box .code i {
    background-image: url("/components/zhibo-verify/lock-icon.png")
}

.field-box input {
    height: 45px;
    border: none;
    width: 100%;
}

.field-box li.code p {
    /*padding-right: 222px;*/
}

.field-box .control {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 45px;
    line-height: 45px;
    padding-left: 23px;
    border-left: 1px solid #ebebeb;
    color: #fe9400;
    text-align: right;
}

.field-box .control .disabled {
    color: #999;
}

.modal-title-desc {
    margin: 40px 0 20px;
    font-size: 32px;
    font-weight: bolder;
}