.modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    font-size: 24px;
}

.modal-box {
    width: 640px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 16px;
    margin: 290px auto;
}

.modal-header {
    text-align: center;
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 16px 16px 0 0;
    position: relative;
}

.modal-header i {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 14px;
    cursor: pointer;
}

.modal-body {
    padding: 0px 50px;
    margin-bottom: 40px;
}

.modal-footer {
    background: #fff;
    border-radius: 16px;
    text-align: center;
    justify-content: space-around;
    padding: 20px 0;
}

.modal-footer > .btncommon:first-child {
    margin-right: 40px;
}

.modal-footer > .btncommon.disabled:last-child {
    background: #ccc;
}

.modal-footer > .btncommon:last-child {
    background: #ffe433;
}

.btncommon {
    padding: 10px 90px;
    line-height: 45px;
    background: #ccc;
    border: 0;
    font-size: 24px;
    border-radius: 8px;
}