.no-data-info {
    margin: 20px 30px 30px;
    padding: 0;
    font-size: 26px;
    line-height: 2;
    color: #272421;
    position: relative;
}

.no-data-info > p {
    text-align: left;
}

.open-mask-tmp {
    margin: 20px 0;
    text-align: center !important;
}

.open-mask {
    padding: 10px 90px;
    line-height: 45px;
    background: #4396f7;
    color: #fff;
    border: 0;
    font-size: 24px;
    border-radius: 45px;
}

.open-mask:focus, .open-mask:hover {
    text-decoration: none;
}

.to-buy {
    text-decoration: underline;
}