[ms-controller], [ms-important] {
    display: none
}

html {
    background: #ebebeb;
}

body {
}

.list-wrapper {

}

.guide-section {
    padding: 50px 30px;
}

.guide {
    font-size: 28px;
    color: #272421;
    box-sizing: border-box;
    float: left;
    width: 100%;
}

.aha-icon {
    width: 130px;
    height: 110px;
    margin-right: 10px;
    float: left;
    vertical-align: middle;
    display: inline-block;
}

.aha-left-triangle {
    position: relative;
    width: 10px;
    float: left;
}

.aha-left-triangle > span {
    margin-left: 6px;
    position: absolute;
    top: 35px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid #fff;
    border-bottom: 15px solid transparent;
}

.aha-desc {
    height: 100px;
    border-radius: 8px;
    padding: 0px 15px 0 30px;
    background: #fff;
    line-height: 40px;
    font-weight: bolder;
    margin-left: 160px;
}

.aha-desc-tmp {
    display: table;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    height: 100%;
}

.aha-desc-tmp2 {
    display: table-cell;
    vertical-align: middle;
}

.aha-icon > img {
    width: 130px;
    height: 110px;
}

.aha-desc > .text {
    font-size: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.aha-desc > .text:first-child {
    margin-top: 14px;
}

.guide-url {
    padding: 0 5px;
    color: #4396f7;
    text-decoration: underline;
}

.support {
    margin: 0 30px 30px;
    padding: 0;
    font-size: 28px;
    color: #272421;
    position: relative;
    border-radius: 8px;
}

.section {
    box-sizing: border-box;
    background-color: #fff;
    margin: 0 30px 30px;
    padding: 0;
    position: relative;
    color: #272421;
    height: 260px;
    border-radius: 8px;
}

.section-bottom {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed #d6d6d6;
    text-align: center;
}

.text-center {
    text-align: center;
}

.section-left {
    float: left;
    box-sizing: border-box;
    width: 200px;
    height: 100%;
    background: #4396f7;
    color: #fff;
    font-size: 28px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.section-center {
    float: left;
    width: 0;
    height: 260px;
    position: relative;
}

.section-center > img {
    position: absolute;
    top: 14px;
    left: -9px;
    height: 232px;
}

.section-right {
    margin-left: 200px;
    height: 100%;
    font-size: 30px;
    color: #272421;
    font-weight: bolder;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.section-left-content {
    margin: 79px auto;
    text-align: center;
}

.section-left-top {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
}

.section-left-bottom {
    font-size: 24px;
}

.section-right-tmp {
    display: table;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 100%;
}

.section-right-content {
    display: table-cell;
    vertical-align: middle;
}

.section-right-content.code {
    margin: 115px auto;
}

.section-right-top {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
}

.section-right-bottom {
    font-size: 30px;
    line-height: 30px;
}

.event-btn {
    display: inline-block;
    width: 110px;
    height: 40px;
    border-radius: 8px;
    line-height: 40px;
    background: #fff;
    color: #4396f7;
    text-decoration: none;
}

.event-btn:focus, .event-btn:hover {
    text-decoration: none;
}

.copy {
    display: inline-block;
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 24px;
    color: #4396f7;
}

.nodata {
    padding: 5rem 0;
    text-align: center;
    color: #999;
    display: none;
}