<form class="form-horizontal" name="FormBody" novalidate>
    <div form-input text="ID" ng-model="param.id" ng-disabled="true"></div>
    <div form-radio text="类型" ng-model="param.type" source="[{text:'文本框',value:'4'}]" default="4"></div>
    <div form-input text="分类" ng-model="param.category"></div>
    <div form-input text="附加信息" ng-model="param.title"></div>
    <a class="btn btn-danger btn-rounded pull-right" ng-click="submit()">删除</a>
</form>