<div class="dashboard-page ">
    <style type="text/css">
        .inlineBlock {
            display: inline-block;
        }
    </style>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title inlineBlock" ng-if="!$stateParams.id">新增问题</h3>
            <h3 class="panel-title inlineBlock" ng-if="$stateParams.id">修改问题</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div form-input text="问题ID" ng-model="param.id" ng-show="$stateParams.id"
                             placeholder="问题ID" ng-disabled="$stateParams.id"></div>

                        <div form-radio text="答题方式" ng-model="param.type" default="1" required="true"
                             source="[{text:'标准答题',value:'1'}]"></div>

                        <div form-input text="最小年龄" ng-model="param.age_min" placeholder="最小年龄" required="true"></div>
                        <div form-input text="最大年龄" ng-model="param.age_max" placeholder="最大年龄" required="true"></div>

                        <div form-select text="题目分类" ng-model="param.classification_id" required="true"
                             source="$root.common.survey_classification"></div>
                        <div form-select text="题干维度" ng-model="param.category_id" required="true"
                             source="$root.common.survey_category"></div>

                        <div form-input text="题干文字" ng-model="param.title" placeholder="题干文字"></div>

                        <div form-image-single text="题干图片" ng-model="param.image"></div>

                        <div form-textarea text="选项说明" ng-model="param.brief" placeholder="不超过100个字" minlength="0"
                             maxlength="100"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">选项<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-8">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">内容</th>
                                        <th class="text-center">分值</th>
                                        <th class="text-center" style="width: 150px;">
                                            <a class="btn btn-primary btn-bordered btn-sm"
                                               ng-click="param.options?param.options.push({}):(param.options = [{}]);">添加</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody dnd-list="param.questions">
                                    <tr ng-repeat="(key,item) in param.options">
                                        <td class="text-center">
                                            <input class="form-control" ng-model="item.name">
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control" ng-model="item.score" type="number">
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-danger btn-sm btn-bordered"
                                               ng-click="param.options.splice(key,1)">删除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div form-error-block></div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <a class="btn btn-success btn-rounded pull-right" ng-disabled="FormBody.$invalid"
                           ng-click="submit()">提交</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>