<div class="dashboard-page ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title inlineBlock" ng-if="!param.id">新增题库</h3>
            <h3 class="panel-title inlineBlock" show-role="'admin,op'" ng-if="param.id">修改题库</h3>
            <h3 class="panel-title inlineBlock" show-role="'!admin,op'" ng-if="param.id">题库详情</h3>
        </div>
        <div class="panel-body">
            <!--<simditor ng-model="content" config="simditorConfig"></simditor>-->
            <form class="form-horizontal" name="FormBody" novalidate disabled-role="{{param.id?'admin,op':''}}">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div form-radio text="是否为必答题" type="radio" ng-model="param.required" required="true"
                             default="1" source="[{text:'是',value:'1'},{text:'否',value:'2'}]" source-api=""></div>

                        <div form-radio text="题目类型" type="radio" ng-model="param.option_type" required="true"
                             default="1"
                             source="[{text:'普通题',value:'1'},{text:'选项计分题',value:'2'},{text:'选项汇总题',value:'3'}]"
                             source-api=""></div>

                        <div form-radio text="选项带分数" type="radio" ng-model="param.need_score" required="true"
                             ng-disabled="true" default="2"
                             source="[{text:'是',value:'1'},{text:'否',value:'2'}]" source-api=""></div>

                        <div form-radio text="选项个数" type="radio" ng-model="option_count" required="true" default="3"
                             ng-show="false"
                             ng-show="param.option_type==3" source="[{text:'三个选项',value:'3'}]" source-api=""></div>

                        <div form-radio text="选项题型" type="radio" ng-model="param.type" required="true" default="3"
                             source="[{text:'单选',value:'3'},{text:'多选',value:'2'}]" source-api=""></div>
                        <!--ng-show="param.need_score==2"-->

                        <div form-select text="维度" ng-model="param.category_id" required="true"
                             source="$root.survey_question_category_list_general" source-api=""></div>

                        <h3 class="text-danger col-sm-offset-2">题目,题图必须有其一才能提交</h3>

                        <div form-textarea text="题目" ng-model="param.title" placeholder="文字描述"
                             ng-disabled="param.id"></div>
                        <div form-image text="题图" ng-model="image" max="1" hide-bar="[1,1,1,1]"></div>
                        <div form-table text="普通题选项" ng-model="param.options" ng-if="param.option_type==1"
                             columns="[{'name': 'ID', 'field': 'id',hide:'true'},
                             {'name': '名称', 'field': 'name',required:'true'},
                             {'name': '正确选项', 'field': 'selected',required:'true',radioBox:'true',default:'0',source:'[{text:\'是\',value:\'1\'},{text:\'否\',value:\'0\'}]'}]"></div>

                        <div form-table text="选项" ng-model="param.options" ng-if="param.option_type==2"
                             columns="[{'name': 'ID', 'field': 'id',hide:'true'},
                             {'name': '名称', 'field': 'name',required:'true'},
                             {'name': '该选项得分', 'field': 'score',required:'true',type:'number'}]"></div>

                        <div class="form-group" ng-if="param.option_type == 3">
                            <label class="col-sm-2 control-label">答案选项<span
                                    class="form_label_dangus">*</span></label>
                            <div class="col-sm-8">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">选项内容</th>
                                        <th class="text-center" style="width: 150px;">计录值(运营请忽略)</th>
                                        <th class="text-center" style="width: 150px;">
                                            <a class="btn btn-sm btn-bordered btn-primary"
                                               ng-click="add_option_type3_options();">添加</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat=" item in option_type3_options">
                                        <td class="text-center">
                                            <input class="form-control" ng-model="item.name"></input>
                                        </td>
                                        <td class="text-center">
                                            <span ng-bind="item.score"></span>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-sm btn-bordered btn-danger"
                                               ng-click="del_option_type3_options(key);">删除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!--<div form-radio text="年龄" type="radio" ng-model="age" required="true" default="1"-->
                        <!--source="[{text:'0-3',value:'1'},{text:'4-6',value:'2'},{text:'7-9',value:'3'},{text:'10岁以上',value:'4'}]"-->
                        <!--source-api=""></div>-->

                        <div form-input text="最小年龄" ng-model="param.age_min" placeholder="最小年龄" required="true"></div>
                        <div form-input text="最大年龄" ng-model="param.age_max" placeholder="最大年龄" required="true"></div>

                    </div>
                </div>
                <div form-error-block></div>
                <a class="btn btn-success btn-rounded" show-role="'{{param.id?'admin,op':''}}'"
                   ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
            </form>
        </div>
    </div>
</div>