<div class="dashboard-page ">
    <style type="text/css">
        .inlineBlock {
            display: inline-block;
        }

        .dndsimpleSubject tbody[dnd-list],
        .dndsimpleSubject tbody[dnd-list] > tr {
            /*position: relative;*/
        }

        .dndsimpleSubject tbody[dnd-list]  .dndDragging {
            opacity: 0.7;
        }

        .dndsimpleSubject tbody[dnd-list] .dndDraggingSource {
            display: none;
        }

        .dndsimpleSubject tbody[dnd-list] .dndPlaceholder {
            /*display: block;*/
            /*float: left;*/
            background-color: #ddd;
            /*display: flex;*/
            height: 100px;
            /*width: 100px;*/
            /*width: 100%;*/
            border: 1px solid #ddd;
            padding-left: 5px;
            padding-right: 5px;
        }

        .dndsimpleSubject tbody[dnd-list] > tr {
            /*background-color: #fff;*/
            /*display: block;*/
            /*width: 100%;*/
        }

        .dndsimpleSubject tbody[dnd-list] > tr.selected {
            background-color: #dff0d8;
            color: #3c763d;
            width: 1000px;
        }
    </style>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title inlineBlock" ng-if="!$stateParams.id">新增测评</h3>
            <h3 class="panel-title inlineBlock" ng-if="$stateParams.id">修改测评</h3>
        </div>
        <div class="panel-body dndsimpleSubject">
            <form class="form-horizontal" name="FormBody" novalidate>
                <div class="panel panel-primary">
                    <div class="panel-body">

                        <div form-input text="ID" ng-model="param.id" ng-show="$stateParams.id"
                             placeholder="ID" ng-disabled="$stateParams.id"></div>

                        <div form-input text="标题" ng-model="param.name" placeholder="标题" required="true"></div>

                        <div form-input text="最小年龄" ng-model="param.age_min" placeholder="最小年龄" required="true"></div>
                        <div form-input text="最大年龄" ng-model="param.age_max" placeholder="最大年龄" required="true"></div>

                        <div form-radio text="比赛规则" ng-model="param.limit_type" default="1" required="true"
                             source="[{text:'时间赛',value:'2'}]"></div>

                        <div form-input text="限制时间" ng-model="param.limit_time" placeholder="限制时间"
                             required="true"></div>

                        <hr>

                        <div form-radio text="题目来源" type="radio" ng-model="param.question_from" required="true"
                             source="[{text:'批量选择',value:'1'},{text:'手动选择',value:'2'}]" default="1"
                             source-api=""></div>

                        <div class="form-group" ng-show="param.question_from==2">
                            <label class="col-sm-2 control-label">题目&nbsp;&nbsp;&nbsp;</label>
                            <div class="col-sm-8 form-group">
                                <div class="col-sm-2">
                                    <input class="form-control" ng-model="question_id" placeholder="题目ID">
                                </div>
                                <div class="col-sm-3">
                                    <a class="btn btn-primary btn-rounded"
                                       ng-click="search_question_id()">查询并添加到题库列表</a>
                                </div>
                                <div class="col-sm-5">
                                    <input class="form-control" ng-model="question_answer" placeholder="点击查询显示题目详情"
                                           disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div form-radio text="题目排序" type="radio" ng-model="param.question_sort" required="true"
                             source="[{text:'随机',value:'1'},{text:'固定',value:'2'}]" default="1"
                             source-api=""></div>

                        <!--<div form-table text="题目列表" ng-model="param.categories" ng-show="param.question_from==1"-->
                        <!--columns="[{'name': '维度', 'field': 'category_id',required:'true',select:'true',source:'survey_question_category_list_general'},-->
                        <!--{'name': '分类', 'field': 'classification_id',required:'true'},-->
                        <!--{'name': '题数', 'field': 'count',required:'true'}]"></div>-->

                        <div class="form-group" ng-show="param.question_from==1">
                            <label class="col-sm-2 control-label">批量选题列表<span
                                    class="form_label_dangus">*</span></label>
                            <div class="col-sm-8">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <!--<th class="text-center" style="width: 150px;">ID</th>-->
                                        <th class="text-center" style="width: 150px;">维度</th>
                                        <th class="text-center">分类</th>
                                        <th class="text-center">题数</th>
                                        <th class="text-center" style="width: 150px;">
                                            <a class="btn btn-primary btn-bordered btn-sm"
                                               ng-click="param.categories?param.categories.push({}):(param.categories = [{}]);">添加</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody dnd-list="param.questions">
                                    <tr ng-repeat="(key,item) in param.categories">
                                        <td class="text-center">
                                            <select class="form-control" ng-model="item.category_id" ng-required="true"
                                                    ng-options="obj.value as obj.text for obj in $root.common.survey_category"></select>
                                        </td>
                                        <td class="text-center">
                                            <select class="form-control" ng-model="item.classification_id"
                                                    ng-options="obj.value as obj.text for obj in $root.common.survey_classification"></select>
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control" ng-model="item.count">
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-danger btn-sm btn-bordered"
                                               ng-click="param.categories.splice(key,1)">删除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group" ng-show="param.question_from==2">
                            <label class="col-sm-2 control-label">手动选题列表<span
                                    class="form_label_dangus">*</span></label>
                            <div class="col-sm-8">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center" style="width: 150px;">序号</th>
                                        <th class="text-center" style="width: 150px;">题目ID</th>
                                        <th class="text-center">维度</th>
                                        <th class="text-center">分类</th>
                                        <th class="text-center" style="width: 150px;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody dnd-list="param.questions">
                                    <tr ng-repeat="(key,item) in param.questions" dnd-draggable="item"
                                        dnd-moved="param.questions.splice(key, 1);" dnd-effect-allowed="copyMove">
                                        <td class="text-center">
                                            <span ng-bind="item.order_by"></span>
                                        </td>
                                        <td class="text-center">
                                            <span ng-bind="item.question_id"></span>
                                        </td>
                                        <td class="text-center">
                                            <span ng-bind="item.question.category.name"></span>
                                        </td>
                                        <td class="text-center">
                                            <span ng-bind="item.question.classification.name"></span>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-danger btn-sm btn-bordered"
                                               ng-click="param.questions.splice(key,1)">删除</a>
                                        </td>
                                    </tr>
                                    <tr class="dndPlaceholder">
                                        <td class="text-center" colspan="5"><h3 class="red">拖拽到这里</h3></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <hr>
                        <div form-radio text="计分类型" ng-model="param.score_type" default="1" required="true"
                             source="[{text:'维度最优',value:'1'}]"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">报告<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-8">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <!--<th class="text-center" style="width: 150px;">ID</th>-->
                                        <th class="text-center" style="width: 150px;">维度</th>
                                        <th class="text-center">范围规则</th>
                                        <th class="text-center">评语库ID</th>
                                        <th class="text-center">推广ID</th>
                                        <th class="text-center" style="width: 150px;">
                                            <a class="btn btn-primary btn-bordered btn-sm"
                                               ng-click="param.scorings?param.scorings.push({}):(param.scorings = [{}]);">添加</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody dnd-list="param.questions">
                                    <tr ng-repeat="(key,item) in param.scorings">
                                        <td class="text-center">
                                            <select class="form-control" ng-model="item.category_id"
                                                    ng-options="obj.value as obj.text for obj in plan_category_tmp"></select>
                                        </td>
                                        <td class="text-center">
                                            <select class="form-control inlineBlock width100" ng-model="item.rule_type"
                                                    ng-options="obj.value as obj.text for obj in [{text:'>',value:1},{text:'<=',value:2}]"></select>
                                            &nbsp;&nbsp;&nbsp;
                                            <input class="form-control inlineBlock width100" ng-model="item.rule_value"
                                                   min="1" max="100" type="number">
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control" ng-model="item.evaluation_id">
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control" ng-model="item.ad_id">
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-danger btn-sm btn-bordered"
                                               ng-click="param.scorings.splice(key,1)">删除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div form-error-block></div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <a class="btn btn-success btn-rounded pull-right" ng-disabled="FormBody.$invalid"
                           ng-click="submit()">提交</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>