<div class="dashboard-page ">
    <div class="panel panel-primary icon-page">
        <div class="panel-heading">
            <h3 class="panel-title">Icons
                <div class="panel-control pull-right"><a class="panelButton"><i class="fa fa-refresh"></i></a> <a
                        class="panelButton"><i class="fa fa-minus"></i></a> <a class="panelButton"><i
                        class="fa fa-remove"></i></a></div>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="fa col-lg-3"><p><i class="fa fa-glass"></i> fa-glass </p>
                    <p><i class="fa fa-music"></i> fa-music </p>
                    <p><i class="fa fa-search"></i> fa-search </p>
                    <p><i class="fa fa-envelope-o"></i> fa-envelope-o </p>
                    <p><i class="fa fa-heart"></i> fa-heart </p>
                    <p><i class="fa fa-star"></i> fa-star </p>
                    <p><i class="fa fa-star-o"></i> fa-star-o </p>
                    <p><i class="fa fa-user"></i> fa-user </p>
                    <p><i class="fa fa-film"></i> fa-film </p>
                    <p><i class="fa fa-th-large"></i> fa-th-large </p>
                    <p><i class="fa fa-th"></i> fa-th </p>
                    <p><i class="fa fa-th-list"></i> fa-th-list </p>
                    <p><i class="fa fa-check"></i> fa-check </p>
                    <p><i class="fa fa-times"></i> fa-times </p>
                    <p><i class="fa fa-search-plus"></i> fa-search-plus </p>
                    <p><i class="fa fa-search-minus"></i> fa-search-minus </p>
                    <p><i class="fa fa-power-off"></i> fa-power-off </p>
                    <p><i class="fa fa-signal"></i> fa-signal </p>
                    <p><i class="fa fa-gear"></i> fa-gear </p>
                    <p><i class="fa fa-cog"></i> fa-cog </p>
                    <p><i class="fa fa-trash-o"></i> fa-trash-o </p>
                    <p><i class="fa fa-home"></i> fa-home </p>
                    <p><i class="fa fa-file-o"></i> fa-file-o </p>
                    <p><i class="fa fa-clock-o"></i> fa-clock-o </p>
                    <p><i class="fa fa-road"></i> fa-road </p>
                    <p><i class="fa fa-download"></i> fa-download </p>
                    <p><i class="fa fa-arrow-circle-o-down"></i> fa-arrow-circle-o-down </p>
                    <p><i class="fa fa-arrow-circle-o-up"></i> fa-arrow-circle-o-up </p>
                    <p><i class="fa fa-inbox"></i> fa-inbox </p>
                    <p><i class="fa fa-play-circle-o"></i> fa-play-circle-o </p>
                    <p><i class="fa fa-rotate-right"></i> fa-rotate-right </p>
                    <p><i class="fa fa-repeat"></i> fa-repeat </p>
                    <p><i class="fa fa-refresh"></i> fa-refresh </p>
                    <p><i class="fa fa-list-alt"></i> fa-list-alt </p>
                    <p><i class="fa fa-lock"></i> fa-lock </p>
                    <p><i class="fa fa-flag"></i> fa-flag </p>
                    <p><i class="fa fa-headphones"></i> fa-headphones </p>
                    <p><i class="fa fa-volume-off"></i> fa-volume-off </p>
                    <p><i class="fa fa-volume-down"></i> fa-volume-down </p>
                    <p><i class="fa fa-volume-up"></i> fa-volume-up </p>
                    <p><i class="fa fa-qrcode"></i> fa-qrcode </p>
                    <p><i class="fa fa-barcode"></i> fa-barcode </p>
                    <p><i class="fa fa-tag"></i> fa-tag </p>
                    <p><i class="fa fa-tags"></i> fa-tags </p>
                    <p><i class="fa fa-book"></i> fa-book </p>
                    <p><i class="fa fa-bookmark"></i> fa-bookmark </p>
                    <p><i class="fa fa-print"></i> fa-print </p>
                    <p><i class="fa fa-camera"></i> fa-camera </p>
                    <p><i class="fa fa-font"></i> fa-font </p>
                    <p><i class="fa fa-bold"></i> fa-bold </p>
                    <p><i class="fa fa-italic"></i> fa-italic </p>
                    <p><i class="fa fa-text-height"></i> fa-text-height </p>
                    <p><i class="fa fa-text-width"></i> fa-text-width </p>
                    <p><i class="fa fa-align-left"></i> fa-align-left </p>
                    <p><i class="fa fa-align-center"></i> fa-align-center </p>
                    <p><i class="fa fa-align-right"></i> fa-align-right </p>
                    <p><i class="fa fa-align-justify"></i> fa-align-justify </p>
                    <p><i class="fa fa-list"></i> fa-list </p>
                    <p><i class="fa fa-dedent"></i> fa-dedent </p>
                    <p><i class="fa fa-outdent"></i> fa-outdent </p>
                    <p><i class="fa fa-indent"></i> fa-indent </p>
                    <p><i class="fa fa-video-camera"></i> fa-video-camera </p>
                    <p><i class="fa fa-photo"></i> fa-photo </p>
                    <p><i class="fa fa-image"></i> fa-image </p>
                    <p><i class="fa fa-picture-o"></i> fa-picture-o </p>
                    <p><i class="fa fa-pencil"></i> fa-pencil </p>
                    <p><i class="fa fa-map-marker"></i> fa-map-marker </p>
                    <p><i class="fa fa-adjust"></i> fa-adjust </p>
                    <p><i class="fa fa-tint"></i> fa-tint </p>
                    <p><i class="fa fa-edit"></i> fa-edit </p>
                    <p><i class="fa fa-pencil-square-o"></i> fa-pencil-square-o </p>
                    <p><i class="fa fa-share-square-o"></i> fa-share-square-o </p>
                    <p><i class="fa fa-check-square-o"></i> fa-check-square-o </p>
                    <p><i class="fa fa-arrows"></i> fa-arrows </p>
                    <p><i class="fa fa-step-backward"></i> fa-step-backward </p>
                    <p><i class="fa fa-fast-backward"></i> fa-fast-backward </p>
                    <p><i class="fa fa-backward"></i> fa-backward </p>
                    <p><i class="fa fa-play"></i> fa-play </p>
                    <p><i class="fa fa-pause"></i> fa-pause </p>
                    <p><i class="fa fa-stop"></i> fa-stop </p>
                    <p><i class="fa fa-forward"></i> fa-forward </p>
                    <p><i class="fa fa-fast-forward"></i> fa-fast-forward </p>
                    <p><i class="fa fa-step-forward"></i> fa-step-forward </p>
                    <p><i class="fa fa-eject"></i> fa-eject </p>
                    <p><i class="fa fa-chevron-left"></i> fa-chevron-left </p>
                    <p><i class="fa fa-chevron-right"></i> fa-chevron-right </p>
                    <p><i class="fa fa-plus-circle"></i> fa-plus-circle </p>
                    <p><i class="fa fa-minus-circle"></i> fa-minus-circle </p>
                    <p><i class="fa fa-times-circle"></i> fa-times-circle </p>
                    <p><i class="fa fa-check-circle"></i> fa-check-circle </p>
                    <p><i class="fa fa-question-circle"></i> fa-question-circle </p>
                    <p><i class="fa fa-info-circle"></i> fa-info-circle </p>
                    <p><i class="fa fa-crosshairs"></i> fa-crosshairs </p>
                    <p><i class="fa fa-times-circle-o"></i> fa-times-circle-o </p>
                    <p><i class="fa fa-check-circle-o"></i> fa-check-circle-o </p>
                    <p><i class="fa fa-ban"></i> fa-ban </p>
                    <p><i class="fa fa-arrow-left"></i> fa-arrow-left </p>
                    <p><i class="fa fa-arrow-right"></i> fa-arrow-right </p>
                    <p><i class="fa fa-arrow-up"></i> fa-arrow-up </p>
                    <p><i class="fa fa-arrow-down"></i> fa-arrow-down </p>
                    <p><i class="fa fa-mail-forward"></i> fa-mail-forward </p>
                    <p><i class="fa fa-share"></i> fa-share </p>
                    <p><i class="fa fa-expand"></i> fa-expand </p>
                    <p><i class="fa fa-compress"></i> fa-compress </p>
                    <p><i class="fa fa-plus"></i> fa-plus </p>
                    <p><i class="fa fa-minus"></i> fa-minus </p>
                    <p><i class="fa fa-asterisk"></i> fa-asterisk </p>
                    <p><i class="fa fa-exclamation-circle"></i> fa-exclamation-circle </p>
                    <p><i class="fa fa-gift"></i> fa-gift </p>
                    <p><i class="fa fa-leaf"></i> fa-leaf </p>
                    <p><i class="fa fa-fire"></i> fa-fire </p>
                    <p><i class="fa fa-eye"></i> fa-eye </p>
                    <p><i class="fa fa-eye-slash"></i> fa-eye-slash </p>
                    <p><i class="fa fa-warning"></i> fa-warning </p>
                    <p><i class="fa fa-exclamation-triangle"></i> fa-exclamation-triangle </p>
                    <p><i class="fa fa-plane"></i> fa-plane </p>
                    <p><i class="fa fa-calendar"></i> fa-calendar </p>
                    <p><i class="fa fa-random"></i> fa-random </p>
                    <p><i class="fa fa-comment"></i> fa-comment </p>
                    <p><i class="fa fa-magnet"></i> fa-magnet </p>
                    <p><i class="fa fa-chevron-up"></i> fa-chevron-up </p>
                    <p><i class="fa fa-chevron-down"></i> fa-chevron-down </p>
                    <p><i class="fa fa-retweet"></i> fa-retweet </p>
                    <p><i class="fa fa-shopping-cart"></i> fa-shopping-cart </p>
                    <p><i class="fa fa-folder"></i> fa-folder </p>
                    <p><i class="fa fa-folder-open"></i> fa-folder-open</p></div>
                <div class="fa col-lg-3"><p></p>
                    <p><i class="fa fa-arrows-h"></i> fa-arrows-h </p>
                    <p><i class="fa fa-bar-chart-o"></i> fa-bar-chart-o </p>
                    <p><i class="fa fa-twitter-square"></i> fa-twitter-square </p>
                    <p><i class="fa fa-facebook-square"></i> fa-facebook-square </p>
                    <p><i class="fa fa-camera-retro"></i> fa-camera-retro </p>
                    <p><i class="fa fa-key"></i> fa-key </p>
                    <p><i class="fa fa-gears"></i> fa-gears </p>
                    <p><i class="fa fa-cogs"></i> fa-cogs </p>
                    <p><i class="fa fa-comments"></i> fa-comments </p>
                    <p><i class="fa fa-thumbs-o-up"></i> fa-thumbs-o-up </p>
                    <p><i class="fa fa-thumbs-o-down"></i> fa-thumbs-o-down </p>
                    <p><i class="fa fa-star-half"></i> fa-star-half </p>
                    <p><i class="fa fa-heart-o"></i> fa-heart-o </p>
                    <p><i class="fa fa-sign-out"></i> fa-sign-out </p>
                    <p><i class="fa fa-linkedin-square"></i> fa-linkedin-square </p>
                    <p><i class="fa fa-thumb-tack"></i> fa-thumb-tack </p>
                    <p><i class="fa fa-external-link"></i> fa-external-link </p>
                    <p><i class="fa fa-sign-in"></i> fa-sign-in </p>
                    <p><i class="fa fa-trophy"></i> fa-trophy </p>
                    <p><i class="fa fa-github-square"></i> fa-github-square </p>
                    <p><i class="fa fa-upload"></i> fa-upload </p>
                    <p><i class="fa fa-lemon-o"></i> fa-lemon-o </p>
                    <p><i class="fa fa-phone"></i> fa-phone </p>
                    <p><i class="fa fa-square-o"></i> fa-square-o </p>
                    <p><i class="fa fa-bookmark-o"></i> fa-bookmark-o </p>
                    <p><i class="fa fa-phone-square"></i> fa-phone-square </p>
                    <p><i class="fa fa-twitter"></i> fa-twitter </p>
                    <p><i class="fa fa-facebook"></i> fa-facebook </p>
                    <p><i class="fa fa-github"></i> fa-github </p>
                    <p><i class="fa fa-unlock"></i> fa-unlock </p>
                    <p><i class="fa fa-credit-card"></i> fa-credit-card </p>
                    <p><i class="fa fa-rss"></i> fa-rss </p>
                    <p><i class="fa fa-hdd-o"></i> fa-hdd-o </p>
                    <p><i class="fa fa-bullhorn"></i> fa-bullhorn </p>
                    <p><i class="fa fa-bell"></i> fa-bell </p>
                    <p><i class="fa fa-certificate"></i> fa-certificate </p>
                    <p><i class="fa fa-hand-o-right"></i> fa-hand-o-right </p>
                    <p><i class="fa fa-hand-o-left"></i> fa-hand-o-left </p>
                    <p><i class="fa fa-hand-o-up"></i> fa-hand-o-up </p>
                    <p><i class="fa fa-hand-o-down"></i> fa-hand-o-down </p>
                    <p><i class="fa fa-arrow-circle-left"></i> fa-arrow-circle-left </p>
                    <p><i class="fa fa-arrow-circle-right"></i> fa-arrow-circle-right </p>
                    <p><i class="fa fa-arrow-circle-up"></i> fa-arrow-circle-up </p>
                    <p><i class="fa fa-arrow-circle-down"></i> fa-arrow-circle-down </p>
                    <p><i class="fa fa-globe"></i> fa-globe </p>
                    <p><i class="fa fa-wrench"></i> fa-wrench </p>
                    <p><i class="fa fa-tasks"></i> fa-tasks </p>
                    <p><i class="fa fa-filter"></i> fa-filter </p>
                    <p><i class="fa fa-brifiase"></i> fa-brifiase </p>
                    <p><i class="fa fa-arrows-alt"></i> fa-arrows-alt </p>
                    <p><i class="fa fa-group"></i> fa-group </p>
                    <p><i class="fa fa-users"></i> fa-users </p>
                    <p><i class="fa fa-chain"></i> fa-chain </p>
                    <p><i class="fa fa-link"></i> fa-link </p>
                    <p><i class="fa fa-cloud"></i> fa-cloud </p>
                    <p><i class="fa fa-flask"></i> fa-flask </p>
                    <p><i class="fa fa-cut"></i> fa-cut </p>
                    <p><i class="fa fa-scissors"></i> fa-scissors </p>
                    <p><i class="fa fa-copy"></i> fa-copy </p>
                    <p><i class="fa fa-files-o"></i> fa-files-o </p>
                    <p><i class="fa fa-paperclip"></i> fa-paperclip </p>
                    <p><i class="fa fa-save"></i> fa-save </p>
                    <p><i class="fa fa-floppy-o"></i> fa-floppy-o </p>
                    <p><i class="fa fa-square"></i> fa-square </p>
                    <p><i class="fa fa-navicon"></i> fa-navicon </p>
                    <p><i class="fa fa-reorder"></i> fa-reorder </p>
                    <p><i class="fa fa-bars"></i> fa-bars </p>
                    <p><i class="fa fa-list-ul"></i> fa-list-ul </p>
                    <p><i class="fa fa-list-ol"></i> fa-list-ol </p>
                    <p><i class="fa fa-strikethrough"></i> fa-strikethrough </p>
                    <p><i class="fa fa-underline"></i> fa-underline </p>
                    <p><i class="fa fa-table"></i> fa-table </p>
                    <p><i class="fa fa-magic"></i> fa-magic </p>
                    <p><i class="fa fa-truck"></i> fa-truck </p>
                    <p><i class="fa fa-pinterest"></i> fa-pinterest </p>
                    <p><i class="fa fa-pinterest-square"></i> fa-pinterest-square </p>
                    <p><i class="fa fa-google-plus-square"></i> fa-google-plus-square </p>
                    <p><i class="fa fa-google-plus"></i> fa-google-plus </p>
                    <p><i class="fa fa-money"></i> fa-money </p>
                    <p><i class="fa fa-caret-down"></i> fa-caret-down </p>
                    <p><i class="fa fa-caret-up"></i> fa-caret-up </p>
                    <p><i class="fa fa-caret-left"></i> fa-caret-left </p>
                    <p><i class="fa fa-caret-right"></i> fa-caret-right </p>
                    <p><i class="fa fa-columns"></i> fa-columns </p>
                    <p><i class="fa fa-unsorted"></i> fa-unsorted </p>
                    <p><i class="fa fa-sort"></i> fa-sort </p>
                    <p><i class="fa fa-sort-down"></i> fa-sort-down </p>
                    <p><i class="fa fa-sort-desc"></i> fa-sort-desc </p>
                    <p><i class="fa fa-sort-up"></i> fa-sort-up </p>
                    <p><i class="fa fa-sort-asc"></i> fa-sort-asc </p>
                    <p><i class="fa fa-envelope"></i> fa-envelope </p>
                    <p><i class="fa fa-linkedin"></i> fa-linkedin </p>
                    <p><i class="fa fa-rotate-left"></i> fa-rotate-left </p>
                    <p><i class="fa fa-undo"></i> fa-undo </p>
                    <p><i class="fa fa-legal"></i> fa-legal </p>
                    <p><i class="fa fa-gavel"></i> fa-gavel </p>
                    <p><i class="fa fa-dashboard"></i> fa-dashboard </p>
                    <p><i class="fa fa-tachometer"></i> fa-tachometer </p>
                    <p><i class="fa fa-comment-o"></i> fa-comment-o </p>
                    <p><i class="fa fa-comments-o"></i> fa-comments-o </p>
                    <p><i class="fa fa-flash"></i> fa-flash </p>
                    <p><i class="fa fa-bolt"></i> fa-bolt </p>
                    <p><i class="fa fa-sitemap"></i> fa-sitemap </p>
                    <p><i class="fa fa-mbreli"></i> fa-umbreli </p>
                    <p><i class="fa fa-paste"></i> fa-paste </p>
                    <p><i class="fa fa-clipboard"></i> fa-clipboard </p>
                    <p><i class="fa fa-lightbulb-o"></i> fa-lightbulb-o </p>
                    <p><i class="fa fa-exchange"></i> fa-exchange </p>
                    <p><i class="fa fa-cloud-download"></i> fa-cloud-download </p>
                    <p><i class="fa fa-cloud-upload"></i> fa-cloud-upload </p>
                    <p><i class="fa fa-user-md"></i> fa-user-md </p>
                    <p><i class="fa fa-stethoscope"></i> fa-stethoscope </p>
                    <p><i class="fa fa-suitcase"></i> fa-suitcase </p>
                    <p><i class="fa fa-bell-o"></i> fa-bell-o </p>
                    <p><i class="fa fa-coffee"></i> fa-coffee </p>
                    <p><i class="fa fa-cutlery"></i> fa-cutlery </p>
                    <p><i class="fa fa-file-text-o"></i> fa-file-text-o </p>
                    <p><i class="fa fa-building-o"></i> fa-building-o </p>
                    <p><i class="fa fa-hospital-o"></i> fa-hospital-o </p>
                    <p><i class="fa fa-ambulance"></i> fa-ambulance </p>
                    <p><i class="fa fa-medkit"></i> fa-medkit </p>
                    <p><i class="fa fa-fighter-jet"></i> fa-fighter-jet </p>
                    <p><i class="fa fa-beer"></i> fa-beer </p>
                    <p><i class="fa fa-h-square"></i> fa-h-square </p>
                    <p><i class="fa fa-plus-square"></i> fa-plus-square </p></div>
                <div class="fa col-lg-3"><p></p>
                    <p><i class="fa fa-angle-double-right"></i> fa-angle-double-right </p>
                    <p><i class="fa fa-angle-double-up"></i> fa-angle-double-up </p>
                    <p><i class="fa fa-angle-double-down"></i> fa-angle-double-down </p>
                    <p><i class="fa fa-angle-left"></i> fa-angle-left </p>
                    <p><i class="fa fa-angle-right"></i> fa-angle-right </p>
                    <p><i class="fa fa-angle-up"></i> fa-angle-up </p>
                    <p><i class="fa fa-angle-down"></i> fa-angle-down </p>
                    <p><i class="fa fa-desktop"></i> fa-desktop </p>
                    <p><i class="fa fa-laptop"></i> fa-laptop </p>
                    <p><i class="fa fa-tablet"></i> fa-tablet </p>
                    <p><i class="fa fa-mobile-phone"></i> fa-mobile-phone </p>
                    <p><i class="fa fa-mobile"></i> fa-mobile </p>
                    <p><i class="fa fa-circle-o"></i> fa-circle-o </p>
                    <p><i class="fa fa-quote-left"></i> fa-quote-left </p>
                    <p><i class="fa fa-quote-right"></i> fa-quote-right </p>
                    <p><i class="fa fa-spinner"></i> fa-spinner </p>
                    <p><i class="fa fa-circle"></i> fa-circle </p>
                    <p><i class="fa fa-mail-reply"></i> fa-mail-reply </p>
                    <p><i class="fa fa-reply"></i> fa-reply </p>
                    <p><i class="fa fa-github-alt"></i> fa-github-alt </p>
                    <p><i class="fa fa-folder-o"></i> fa-folder-o </p>
                    <p><i class="fa fa-folder-open-o"></i> fa-folder-open-o </p>
                    <p><i class="fa fa-smile-o"></i> fa-smile-o </p>
                    <p><i class="fa fa-frown-o"></i> fa-frown-o </p>
                    <p><i class="fa fa-meh-o"></i> fa-meh-o </p>
                    <p><i class="fa fa-gamepad"></i> fa-gamepad </p>
                    <p><i class="fa fa-keyboard-o"></i> fa-keyboard-o </p>
                    <p><i class="fa fa-flag-o"></i> fa-flag-o </p>
                    <p><i class="fa fa-flag-checkered"></i> fa-flag-checkered </p>
                    <p><i class="fa fa-terminal"></i> fa-terminal </p>
                    <p><i class="fa fa-code"></i> fa-code </p>
                    <p><i class="fa fa-mail-reply-all"></i> fa-mail-reply-all </p>
                    <p><i class="fa fa-reply-all"></i> fa-reply-all </p>
                    <p><i class="fa fa-star-half-empty"></i> fa-star-half-empty </p>
                    <p><i class="fa fa-star-half-full"></i> fa-star-half-full </p>
                    <p><i class="fa fa-star-half-o"></i> fa-star-half-o </p>
                    <p><i class="fa fa-location-arrow"></i> fa-location-arrow </p>
                    <p><i class="fa fa-crop"></i> fa-crop </p>
                    <p><i class="fa fa-code-fork"></i> fa-code-fork </p>
                    <p><i class="fa fa-unlink"></i> fa-unlink </p>
                    <p><i class="fa fa-chain-broei"></i> fa-chain-broei </p>
                    <p><i class="fa fa-question"></i> fa-question </p>
                    <p><i class="fa fa-info"></i> fa-info </p>
                    <p><i class="fa fa-exclamation"></i> fa-exclamation </p>
                    <p><i class="fa fa-superscript"></i> fa-superscript </p>
                    <p><i class="fa fa-subscript"></i> fa-subscript </p>
                    <p><i class="fa fa-eraser"></i> fa-eraser </p>
                    <p><i class="fa fa-puzzle-piece"></i> fa-puzzle-piece </p>
                    <p><i class="fa fa-microphone"></i> fa-microphone </p>
                    <p><i class="fa fa-microphone-slash"></i> fa-microphone-slash </p>
                    <p><i class="fa fa-shield"></i> fa-shield </p>
                    <p><i class="fa fa-calendar-o"></i> fa-calendar-o </p>
                    <p><i class="fa fa-fire-extinguisher"></i> fa-fire-extinguisher </p>
                    <p><i class="fa fa-rocket"></i> fa-rocket </p>
                    <p><i class="fa fa-maxcdn"></i> fa-maxcdn </p>
                    <p><i class="fa fa-chevron-circle-left"></i> fa-chevron-circle-left </p>
                    <p><i class="fa fa-chevron-circle-right"></i> fa-chevron-circle-right </p>
                    <p><i class="fa fa-chevron-circle-up"></i> fa-chevron-circle-up </p>
                    <p><i class="fa fa-chevron-circle-down"></i> fa-chevron-circle-down </p>
                    <p><i class="fa fa-html5"></i> fa-html5 </p>
                    <p><i class="fa fa-css3"></i> fa-css3 </p>
                    <p><i class="fa fa-anchor"></i> fa-anchor </p>
                    <p><i class="fa fa-unlock-alt"></i> fa-unlock-alt </p>
                    <p><i class="fa fa-bullseye"></i> fa-bullseye </p>
                    <p><i class="fa fa-ellipsis-h"></i> fa-ellipsis-h </p>
                    <p><i class="fa fa-ellipsis-v"></i> fa-ellipsis-v </p>
                    <p><i class="fa fa-rss-square"></i> fa-rss-square </p>
                    <p><i class="fa fa-play-circle"></i> fa-play-circle </p>
                    <p><i class="fa fa-ticket"></i> fa-ticket </p>
                    <p><i class="fa fa-minus-square"></i> fa-minus-square </p>
                    <p><i class="fa fa-minus-square-o"></i> fa-minus-square-o </p>
                    <p><i class="fa fa-level-up"></i> fa-level-up </p>
                    <p><i class="fa fa-level-down"></i> fa-level-down </p>
                    <p><i class="fa fa-check-square"></i> fa-check-square </p>
                    <p><i class="fa fa-pencil-square"></i> fa-pencil-square </p>
                    <p><i class="fa fa-external-link-square"></i> fa-external-link-square </p>
                    <p><i class="fa fa-share-square"></i> fa-share-square </p>
                    <p><i class="fa fa-compass"></i> fa-compass </p>
                    <p><i class="fa fa-toggle-down"></i> fa-toggle-down </p>
                    <p><i class="fa fa-caret-square-o-down"></i> fa-caret-square-o-down </p>
                    <p><i class="fa fa-toggle-up"></i> fa-toggle-up </p>
                    <p><i class="fa fa-caret-square-o-up"></i> fa-caret-square-o-up </p>
                    <p><i class="fa fa-toggle-right"></i> fa-toggle-right </p>
                    <p><i class="fa fa-caret-square-o-right"></i> fa-caret-square-o-right </p>
                    <p><i class="fa fa-euro"></i> fa-euro </p>
                    <p><i class="fa fa-eur"></i> fa-eur </p>
                    <p><i class="fa fa-gbp"></i> fa-gbp </p>
                    <p><i class="fa fa-dollar"></i> fa-dollar </p>
                    <p><i class="fa fa-usd"></i> fa-usd </p>
                    <p><i class="fa fa-rupee"></i> fa-rupee </p>
                    <p><i class="fa fa-inr"></i> fa-inr </p>
                    <p><i class="fa fa-cny"></i> fa-cny </p>
                    <p><i class="fa fa-rmb"></i> fa-rmb </p>
                    <p><i class="fa fa-yen"></i> fa-yen </p>
                    <p><i class="fa fa-jpy"></i> fa-jpy </p>
                    <p><i class="fa fa-ruble"></i> fa-ruble </p>
                    <p><i class="fa fa-rouble"></i> fa-rouble </p>
                    <p><i class="fa fa-rub"></i> fa-rub </p>
                    <p><i class="fa fa-won"></i> fa-won </p>
                    <p><i class="fa fa-krw"></i> fa-krw </p>
                    <p><i class="fa fa-bitcoin"></i> fa-bitcoin </p>
                    <p><i class="fa fa-btc"></i> fa-btc </p>
                    <p><i class="fa fa-file"></i> fa-file </p>
                    <p><i class="fa fa-file-text"></i> fa-file-text </p>
                    <p><i class="fa fa-sort-alpha-asc"></i> fa-sort-alpha-asc </p>
                    <p><i class="fa fa-sort-alpha-desc"></i> fa-sort-alpha-desc </p>
                    <p><i class="fa fa-sort-amount-asc"></i> fa-sort-amount-asc </p>
                    <p><i class="fa fa-sort-amount-desc"></i> fa-sort-amount-desc </p>
                    <p><i class="fa fa-sort-numeric-asc"></i> fa-sort-numeric-asc </p>
                    <p><i class="fa fa-sort-numeric-desc"></i> fa-sort-numeric-desc </p>
                    <p><i class="fa fa-thumbs-up"></i> fa-thumbs-up </p>
                    <p><i class="fa fa-thumbs-down"></i> fa-thumbs-down </p>
                    <p><i class="fa fa-youtube-square"></i> fa-youtube-square </p>
                    <p><i class="fa fa-youtube"></i> fa-youtube </p>
                    <p><i class="fa fa-xing"></i> fa-xing </p>
                    <p><i class="fa fa-xing-square"></i> fa-xing-square </p>
                    <p><i class="fa fa-youtube-play"></i> fa-youtube-play </p>
                    <p><i class="fa fa-dropbox"></i> fa-dropbox </p>
                    <p><i class="fa fa-stack-overflow"></i> fa-stack-overflow </p>
                    <p><i class="fa fa-instagram"></i> fa-instagram </p>
                    <p><i class="fa fa-flickr"></i> fa-flickr </p>
                    <p><i class="fa fa-adn"></i> fa-adn </p>
                    <p><i class="fa fa-bitbucket"></i> fa-bitbucket </p>
                    <p><i class="fa fa-bitbucket-square"></i> fa-bitbucket-square </p>
                    <p><i class="fa fa-tumblr"></i> fa-tumblr </p></div>
                <div class="fa col-lg-3"><p></p>
                    <p><i class="fa fa-long-arrow-down"></i> fa-long-arrow-down </p>
                    <p><i class="fa fa-long-arrow-up"></i> fa-long-arrow-up </p>
                    <p><i class="fa fa-long-arrow-left"></i> fa-long-arrow-left </p>
                    <p><i class="fa fa-long-arrow-right"></i> fa-long-arrow-right </p>
                    <p><i class="fa fa-apple"></i> fa-apple </p>
                    <p><i class="fa fa-windows"></i> fa-windows </p>
                    <p><i class="fa fa-android"></i> fa-android </p>
                    <p><i class="fa fa-linux"></i> fa-linux </p>
                    <p><i class="fa fa-dribbble"></i> fa-dribbble </p>
                    <p><i class="fa fa-skype"></i> fa-skype </p>
                    <p><i class="fa fa-foursquare"></i> fa-foursquare </p>
                    <p><i class="fa fa-trello"></i> fa-trello </p>
                    <p><i class="fa fa-female"></i> fa-female </p>
                    <p><i class="fa fa-male"></i> fa-male </p>
                    <p><i class="fa fa-gittip"></i> fa-gittip </p>
                    <p><i class="fa fa-sun-o"></i> fa-sun-o </p>
                    <p><i class="fa fa-moon-o"></i> fa-moon-o </p>
                    <p><i class="fa fa-archive"></i> fa-archive </p>
                    <p><i class="fa fa-bug"></i> fa-bug </p>
                    <p><i class="fa fa-vk"></i> fa-vk </p>
                    <p><i class="fa fa-weibo"></i> fa-weibo </p>
                    <p><i class="fa fa-renren"></i> fa-renren </p>
                    <p><i class="fa fa-pagelines"></i> fa-pagelines </p>
                    <p><i class="fa fa-stack-exchange"></i> fa-stack-exchange </p>
                    <p><i class="fa fa-arrow-circle-o-right"></i> fa-arrow-circle-o-right </p>
                    <p><i class="fa fa-arrow-circle-o-left"></i> fa-arrow-circle-o-left </p>
                    <p><i class="fa fa-toggle-left"></i> fa-toggle-left </p>
                    <p><i class="fa fa-caret-square-o-left"></i> fa-caret-square-o-left </p>
                    <p><i class="fa fa-dot-circle-o"></i> fa-dot-circle-o </p>
                    <p><i class="fa fa-wheelchair"></i> fa-wheelchair </p>
                    <p><i class="fa fa-vimeo-square"></i> fa-vimeo-square </p>
                    <p><i class="fa fa-turkish-lira"></i> fa-turkish-lira </p>
                    <p><i class="fa fa-try"></i> fa-try </p>
                    <p><i class="fa fa-plus-square-o"></i> fa-plus-square-o </p>
                    <p><i class="fa fa-space-shuttle"></i> fa-space-shuttle </p>
                    <p><i class="fa fa-slack"></i> fa-slack </p>
                    <p><i class="fa fa-envelope-square"></i> fa-envelope-square </p>
                    <p><i class="fa fa-wordpress"></i> fa-wordpress </p>
                    <p><i class="fa fa-openid"></i> fa-openid </p>
                    <p><i class="fa fa-institution"></i> fa-institution </p>
                    <p><i class="fa fa-bank"></i> fa-bank </p>
                    <p><i class="fa fa-university"></i> fa-university </p>
                    <p><i class="fa fa-mortar-board"></i> fa-mortar-board </p>
                    <p><i class="fa fa-graduation-cap"></i> fa-graduation-cap </p>
                    <p><i class="fa fa-yahoo"></i> fa-yahoo </p>
                    <p><i class="fa fa-google"></i> fa-google </p>
                    <p><i class="fa fa-reddit"></i> fa-reddit </p>
                    <p><i class="fa fa-reddit-square"></i> fa-reddit-square </p>
                    <p><i class="fa fa-stumbleupon-circle"></i> fa-stumbleupon-circle </p>
                    <p><i class="fa fa-stumbleupon"></i> fa-stumbleupon </p>
                    <p><i class="fa fa-delicious"></i> fa-delicious </p>
                    <p><i class="fa fa-digg"></i> fa-digg </p>
                    <p><i class="fa fa-pied-piper-square"></i> fa-pied-piper-square </p>
                    <p><i class="fa fa-pied-piper"></i> fa-pied-piper </p>
                    <p><i class="fa fa-pied-piper-alt"></i> fa-pied-piper-alt </p>
                    <p><i class="fa fa-drupal"></i> fa-drupal </p>
                    <p><i class="fa fa-joomla"></i> fa-joomla </p>
                    <p><i class="fa fa-language"></i> fa-language </p>
                    <p><i class="fa fa-fax"></i> fa-fax </p>
                    <p><i class="fa fa-building"></i> fa-building </p>
                    <p><i class="fa fa-child"></i> fa-child </p>
                    <p><i class="fa fa-paw"></i> fa-paw </p>
                    <p><i class="fa fa-spoon"></i> fa-spoon </p>
                    <p><i class="fa fa-cube"></i> fa-cube </p>
                    <p><i class="fa fa-cubes"></i> fa-cubes </p>
                    <p><i class="fa fa-behance"></i> fa-behance </p>
                    <p><i class="fa fa-behance-square"></i> fa-behance-square </p>
                    <p><i class="fa fa-steam"></i> fa-steam </p>
                    <p><i class="fa fa-steam-square"></i> fa-steam-square </p>
                    <p><i class="fa fa-recycle"></i> fa-recycle </p>
                    <p><i class="fa fa-automobile"></i> fa-automobile </p>
                    <p><i class="fa fa-car"></i> fa-car </p>
                    <p><i class="fa fa-cab"></i> fa-cab </p>
                    <p><i class="fa fa-taxi"></i> fa-taxi </p>
                    <p><i class="fa fa-tree"></i> fa-tree </p>
                    <p><i class="fa fa-spotify"></i> fa-spotify </p>
                    <p><i class="fa fa-deviantart"></i> fa-deviantart </p>
                    <p><i class="fa fa-soundcloud"></i> fa-soundcloud </p>
                    <p><i class="fa fa-database"></i> fa-database </p>
                    <p><i class="fa fa-file-pdf-o"></i> fa-file-pdf-o </p>
                    <p><i class="fa fa-file-word-o"></i> fa-file-word-o </p>
                    <p><i class="fa fa-file-excel-o"></i> fa-file-excel-o </p>
                    <p><i class="fa fa-file-powerpoint-o"></i> fa-file-powerpoint-o </p>
                    <p><i class="fa fa-file-photo-o"></i> fa-file-photo-o </p>
                    <p><i class="fa fa-file-picture-o"></i> fa-file-picture-o </p>
                    <p><i class="fa fa-file-image-o"></i> fa-file-image-o </p>
                    <p><i class="fa fa-file-zip-o"></i> fa-file-zip-o </p>
                    <p><i class="fa fa-file-archive-o"></i> fa-file-archive-o </p>
                    <p><i class="fa fa-file-sound-o"></i> fa-file-sound-o </p>
                    <p><i class="fa fa-file-audio-o"></i> fa-file-audio-o </p>
                    <p><i class="fa fa-file-movie-o"></i> fa-file-movie-o </p>
                    <p><i class="fa fa-file-video-o"></i> fa-file-video-o </p>
                    <p><i class="fa fa-file-code-o"></i> fa-file-code-o </p>
                    <p><i class="fa fa-vine"></i> fa-vine </p>
                    <p><i class="fa fa-codepen"></i> fa-codepen </p>
                    <p><i class="fa fa-jsfiddle"></i> fa-jsfiddle </p>
                    <p><i class="fa fa-life-bouy"></i> fa-life-bouy </p>
                    <p><i class="fa fa-life-saver"></i> fa-life-saver </p>
                    <p><i class="fa fa-support"></i> fa-support </p>
                    <p><i class="fa fa-life-ring"></i> fa-life-ring </p>
                    <p><i class="fa fa-circle-o-notch"></i> fa-circle-o-notch </p>
                    <p><i class="fa fa-ra"></i> fa-ra </p>
                    <p><i class="fa fa-rebel"></i> fa-rebel </p>
                    <p><i class="fa fa-ge"></i> fa-ge </p>
                    <p><i class="fa fa-empire"></i> fa-empire </p>
                    <p><i class="fa fa-git-square"></i> fa-git-square </p>
                    <p><i class="fa fa-git"></i> fa-git </p>
                    <p><i class="fa fa-hacker-news"></i> fa-hacker-news </p>
                    <p><i class="fa fa-tencent-weibo"></i> fa-tencent-weibo </p>
                    <p><i class="fa fa-qq"></i> fa-qq </p>
                    <p><i class="fa fa-wechat"></i> fa-wechat </p>
                    <p><i class="fa fa-weixin"></i> fa-weixin </p>
                    <p><i class="fa fa-send"></i> fa-send </p>
                    <p><i class="fa fa-paper-plane"></i> fa-paper-plane </p>
                    <p><i class="fa fa-send-o"></i> fa-send-o </p>
                    <p><i class="fa fa-paper-plane-o"></i> fa-paper-plane-o </p>
                    <p><i class="fa fa-history"></i> fa-history </p>
                    <p><i class="fa fa-circle-thin"></i> fa-circle-thin </p>
                    <p><i class="fa fa-header"></i> fa-header </p>
                    <p><i class="fa fa-paragraph"></i> fa-paragraph </p>
                    <p><i class="fa fa-sliders"></i> fa-sliders </p>
                    <p><i class="fa fa-share-alt"></i> fa-share-alt </p>
                    <p><i class="fa fa-share-alt-square"></i> fa-share-alt-square </p>
                    <p><i class="fa fa-bomb"></i> fa-bomb </p></div>
            </div>
        </div>
    </div>
</div>