<div class="login-page">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <img src="styles/images/flat-avatar.png" class="user-avatar">
            <h2>Ahaschool Survey</h2>
            <form role="form" ng-keypress="login_keypress($event);">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="uname"
                               class="form-control input-underline input-lg ng-pristine ng-untouched ng-valid"
                               placeholder="Account">
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="pwd" class="form-control input-underline input-lg"
                               placeholder="Password">
                    </div>
                    <div class="form-group" style="display: flex;">
                        <input type="text" ng-model="usercode" class="form-control input-underline pull-left"
                               placeholder="Auth Code">
                        <a class="btn btn-white btn-outline pull-right" ng-click="get_verify_code()"
                           ng-disabled="disabled_get_verify_code">获取验证码
                            <span ng-if="remain_time<time_count" ng-bind="remain_time"></span>
                        </a>
                    </div>
                </div>
                <button progress-button class=" btn btn-white btn-outline btn-lg login" value="loading"
                        in-progress="登录中.." type="bottom-bar" complete="登录成功!" ng-click="login()">
                    登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录
                </button>
            </form>
        </div>
    </div>
</div>