<div class="dashboard-page ">
    <style type="text/css">
        .inlineBlock {
            display: inline-block;
        }
    </style>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title inlineBlock" ng-if="!$stateParams.id">新增测评活动</h3>
            <h3 class="panel-title inlineBlock" show-role="'admin,op'" ng-if="$stateParams.id">修改测评活动</h3>
            <h3 class="panel-title inlineBlock" show-role="'!admin,op'" ng-if="$stateParams.id">测评活动详情</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div form-input text="活动ID" ng-model="param.id" ng-show="$stateParams.id"
                             placeholder="活动ID" ng-disabled="$stateParams.id"></div>

                        <div form-input text="活动标题" ng-model="param.title" placeholder="活动标题,不超过30个字" required="true"
                             minlength="1" maxlength="30"></div>

                        <div form-image-single text="广告图" ng-model="param.image" required="true"></div>

                        <div form-double-date-time text-start="活动开始时间" text-end="活动时间结束" required="true"
                             ng-model-start="param.start_time" ng-model-end="param.end_time"></div>

                        <div form-rich-content text="介绍" ng-model="param.description" required="true"></div>

                        <!--1 单次，2 多次，3 无限制-->
                        <div form-radio text="活动次数" type="radio" ng-model="param.limit_type" required="true" default="1"
                             source="[{text:'限制',value:'2'},{text:'无限制',value:'3'}]"
                             source-api=""></div>

                        <div form-input text="次数" ng-model="param.limit_time" ng-if="param.limit_type==2" type="number"
                             min="1" required="true"></div>
                        <div form-input text="天数" ng-model="param.limit_day" ng-if="param.limit_type==2" type="number"
                             min="1" required="true"></div>

                        <div form-radio text="是否循环" type="radio" ng-model="param.limit_loop" required="true" default="1"
                             source="[{text:'是',value:'1'},{text:'否',value:'2'}]" ng-if="param.limit_type==2"></div>
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">测评内容&nbsp;&nbsp;&nbsp;</label>
                            <div class="col-sm-8 form-group">
                                <div class="col-sm-2">
                                    <input class="form-control" ng-model="plan_id" placeholder="测评ID">
                                </div>
                                <div class="col-sm-3">
                                    <a class="btn btn-primary btn-rounded"
                                       ng-click="search_plan_id()">查询并添加到测评题库列表</a>
                                </div>
                                <div class="col-sm-5">
                                    <input class="form-control" ng-model="plan_name" placeholder="点击查询显示题目详情"
                                           disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">测评内容列表<span
                                    class="form_label_dangus">*</span></label>
                            <div class="col-sm-8">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center" style="width: 150px;">测评ID</th>
                                        <th class="text-center" style="width: 150px;">说明</th>
                                        <th class="text-center">应用范围</th>
                                        <th class="text-center" style="width: 150px;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(key,item) in param.plans">
                                        <td class="text-center">
                                            <span ng-bind="item.plan_id"></span>
                                        </td>
                                        <td class="text-center">
                                            <span ng-bind="item.plan.name"></span>
                                        </td>
                                        <td class="text-center">
                                            <span ng-bind="(item.plan.age_min||0)+'-'+(item.plan.age_max||0)+'岁'"></span>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-danger btn-sm btn-bordered"
                                               ng-click="param.plans.splice(key,1)">删除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">附加信息&nbsp;&nbsp;&nbsp;</label>
                            <div class="col-sm-8 form-group">
                                <div class="col-sm-2">
                                    <input class="form-control" ng-model="attachment_id" placeholder="附加信息ID">
                                </div>
                                <div class="col-sm-3">
                                    <a class="btn btn-primary btn-rounded"
                                       ng-click="search_attachment_id()">查询并添加到附加信息列表</a>
                                </div>
                                <div class="col-sm-5">
                                    <input class="form-control" ng-model="attachment_title" placeholder="点击查询显示附加信息详情"
                                           disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">附加信息列表<span
                                    class="form_label_dangus">*</span></label>
                            <div class="col-sm-8">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center" style="width: 150px;">附加信息ID</th>
                                        <th class="text-center" style="width: 150px;">信息内容</th>
                                        <th class="text-center" style="width: 150px;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(key,item) in param.attachments">
                                        <td class="text-center">
                                            <span ng-bind="item.attachment_id"></span>
                                        </td>
                                        <td class="text-center">
                                            <span ng-bind="item.attachment.title"></span>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-danger btn-sm btn-bordered"
                                               ng-click="param.attachments.splice(key,1)">删除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div form-error-block></div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <a class="btn btn-success btn-rounded pull-right" ng-disabled="FormBody.$invalid"
                           ng-click="submit()">提交</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>